@font-face {
    font-family: 'Century Gothic Regular';
    src: url('CenturyGothic.eot');
    src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('CenturyGothic.woff') format('woff'),
    url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.microfon {
    font-family: 'Century Gothic Regular';
}

#more {
    background-color: #000000;
}
.social_network_vk {
    width: 120%;
    height: 120%;
}

.social_network_youtube {
    width: 120%;
    height: 120%;
}

.social_network_instagram {
    width: 120%;
    height: 110%;
}
#main {
    background-image: url("./../images/Rectangle.jpg");
    padding-top: 14%;
    padding-bottom: 5%;
}

.logo{
    padding-bottom: 12%;
}

.round_black_icon {
    width: 120px;
    height: 120px;
    background: #000000;
    border-radius: 50%;
}
.border-right,.border-left{
    border-color: #4c4c4c !important;
}

#form{
    background-image: url("./../images/Rectangle.jpg");
    padding-top: 12%;
    padding-bottom: 10%;
}

#form input{
    background-color:transparent !important;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }
.form-control::-ms-input-placeholder { color: white; }

@media (max-width: 992px) {
    .border-bottomps{
        border-bottom: 1px solid #dee2e6!important;
    }
}
#advantages{
    padding-top: 8%;
    padding-bottom: 8%;
}